.card-widget.card-leetcode
  .card-content
    .item-headline
      i.fa.fa-table(aria-hidden="true")
      span=_p('aside.card_leetcode')
    .img-wrapper
      img(src=url_for(theme.leetcode.progress))