// light mode
$grey-light-1 = #e8e8e8
$grey-light-2 = #e0e0e0
$grey-light-3 = #d8d8d8
$grey-light-4 = #d0d0d0
$a-hover-light-color-1 = #111111
$a-hover-light-color-2 = #588da8
$a-hover-light-bg = alpha(#c3edea, .6)

// dark mode

$dark-bg-1 = rgb(#484848)
$dark-bg-2 = rgb(#3a3a3a)
$dark-bg-3 = rgb(#2c2c2c)
$dark-bg-4 = rgb(#1f1f1f)
$dark-bg-5 = rgb(#121212)

$dark-font-color = rgb(#eae7d9)

$a-hover-dark-color-1 = #ff6363